<section class="container">
  <div class="news page-paddings">
    <div class="news__heading">
      <span class="pin pin--blue news__pin">Blog</span>
      <h2 class="title news__title">Our fresh news</h2>
      <p class="subtitle news__subtitle">
        Our blog is more than just a collection of articles - it's a hub of
        ideas, inspiration, and thought-provoking discussions.
      </p>
    </div>
    <div class="news__cards">
      <div class="card">
        <img class="card__image" src="./images/news.jpg" alt="news image" />
        <div class="card__data">
          <div class="card__author">
            <img
              class="card__author-img"
              src="./images/avatar.png"
              alt="avatar" />
            <div class="card__author-data">
              <h6 class="card__author-name">Jenny Wilson</h6>
              <p class="card__author-date">May 9, 2023</p>
            </div>
          </div>
          <h4 class="card__title">
            Meet an web designer in his studio in Amsterdam
          </h4>
          <p class="card__desc">
            We'll get to know the designer and their design philosophy, as well
            as take a look...
          </p>
          <div class="card__pins">
            <span class="card__pin pin pin--blue">UI/UX</span>
            <span class="card__pin pin pin--blue">Studio</span>
            <span class="card__pin pin pin--blue">Web Design</span>
            <span class="card__pin pin pin--blue">+2</span>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="card__image" src="./images/news.jpg" alt="news image" />
        <div class="card__data">
          <div class="card__author">
            <img
              class="card__author-img"
              src="./images/avatar.png"
              alt="avatar" />
            <div class="card__author-data">
              <h6 class="card__author-name">Jenny Wilson</h6>
              <p class="card__author-date">May 9, 2023</p>
            </div>
          </div>
          <h4 class="card__title">
            The Evolution of UI/UX Design: From Skeuomorphism to Flat Design
          </h4>
          <p class="card__desc">
            Discussing the shift from realistic designs to minimalistic, flat
            designs.
          </p>
          <div class="card__pins">
            <span class="card__pin pin pin--blue">UI/UX</span>
            <span class="card__pin pin pin--blue">Studio</span>
            <span class="card__pin pin pin--blue">Web Design</span>
            <span class="card__pin pin pin--blue">+2</span>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="card__image" src="./images/news.jpg" alt="news image" />
        <div class="card__data">
          <div class="card__author">
            <img
              class="card__author-img"
              src="./images/avatar.png"
              alt="avatar" />
            <div class="card__author-data">
              <h6 class="card__author-name">Jenny Wilson</h6>
              <p class="card__author-date">May 9, 2023</p>
            </div>
          </div>
          <h4 class="card__title">
            The Importance of User-Centered Design in IT Projects
          </h4>
          <p class="card__desc">
            Exploring the significance of putting the user first in IT projects
          </p>
          <div class="card__pins">
            <span class="card__pin pin pin--blue">UI/UX</span>
            <span class="card__pin pin pin--blue">Studio</span>
            <span class="card__pin pin pin--blue">Web Design</span>
            <span class="card__pin pin pin--blue">+2</span>
          </div>
        </div>
      </div>
    </div>
    <button class="news__button button button--blue">Load more</button>
  </div>
</section>
