<section class="container">
  <div class="our-features page-paddings">
    <div class="our-features__heading">
      <span class="pin pin--blue our-features__pin">Our Features</span>
      <h2 class="title our-features__title">Our key benefits</h2>
      <p class="subtitle our-features__subtitle">
        Our services are designed to cater to your specific needs and goals
      </p>
    </div>
    <div class="our-features__content">
      <div class="our-features__info">
        <div class="our-features__item">
          <div class="our-features__icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none">
              <path
                d="M7.13886 12.9722L10.0555 15.8889L16.8611 9.08333M20.75 12C20.75 16.8325 16.8325 20.75 12 20.75C7.16748 20.75 3.24997 16.8325 3.24997 12C3.24997 7.16751 7.16748 3.25 12 3.25C16.8325 3.25 20.75 7.16751 20.75 12Z"
                stroke="url(#paint0_linear_2_105676)"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round" />
              <defs>
                <linearGradient
                  id="paint0_linear_2_105676"
                  x1="3.24997"
                  y1="20.75"
                  x2="23.256"
                  y2="17.1407"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#1975FF" />
                  <stop offset="1" stop-color="#33A9FF" />
                </linearGradient>
              </defs>
            </svg>
          </div>
          <h4 class="our-features__item-title">Project Structure</h4>
          <p class="our-features__item-desc">
            Check out our proven methods, guides, and exercises that help make
            work better, and people happier.
          </p>
        </div>
        <div class="our-features__item">
          <div class="our-features__icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none">
              <path
                d="M11.0278 16.8611H12.9722M9.16666 20.75H14.8333C16.4902 20.75 17.8333 19.4069 17.8333 17.75V6.25C17.8333 4.59315 16.4902 3.25 14.8333 3.25H9.16666C7.5098 3.25 6.16666 4.59315 6.16666 6.25V17.75C6.16666 19.4069 7.50981 20.75 9.16666 20.75Z"
                stroke="url(#paint0_linear_2_105716)"
                stroke-width="2"
                stroke-linecap="round" />
              <defs>
                <linearGradient
                  id="paint0_linear_2_105716"
                  x1="6.16666"
                  y1="20.75"
                  x2="19.7418"
                  y2="19.1173"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#1975FF" />
                  <stop offset="1" stop-color="#33A9FF" />
                </linearGradient>
              </defs>
            </svg>
          </div>
          <h4 class="our-features__item-title">Responsive</h4>
          <p class="our-features__item-desc">
            This Design System and UI kit is coming with full-responsive screens
            for tablet and mobile devices.
          </p>
        </div>
        <div class="our-features__item">
          <div class="our-features__icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none">
              <path
                d="M4.22219 9.08337L10.25 13.6042C11.287 14.382 12.7129 14.382 13.75 13.6042L19.7777 9.08332M11.0557 3.7746L4.25011 7.55547C3.63281 7.89841 3.24997 8.54906 3.24997 9.25522V16.8611C3.24997 17.935 4.12053 18.8055 5.19441 18.8055H18.8055C19.8794 18.8055 20.75 17.935 20.75 16.8611V9.25522C20.75 8.54906 20.3671 7.89841 19.7498 7.55547L12.9443 3.7746C12.357 3.44834 11.6429 3.44834 11.0557 3.7746Z"
                stroke="url(#paint0_linear_2_105756)"
                stroke-width="2"
                stroke-linecap="round" />
              <defs>
                <linearGradient
                  id="paint0_linear_2_105756"
                  x1="3.24997"
                  y1="18.8055"
                  x2="23.0609"
                  y2="14.711"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#1975FF" />
                  <stop offset="1" stop-color="#33A9FF" />
                </linearGradient>
              </defs>
            </svg>
          </div>
          <h4 class="our-features__item-title">Messaging</h4>
          <p class="our-features__item-desc">
            On mobile, customers can send text, or audio messages to agents,
            like using any messaging app
          </p>
        </div>
      </div>
      <div class="our-features__decore">
        <div class="our-features__grid">
          <div class="our-features__grid-item our-features__grid-item--box-1">
            <img src="./images/decore-4.jpg" alt="image" class="" />
          </div>
          <div class="our-features__grid-item our-features__grid-item--box-2">
            <img src="./images/decore-2.jpg" alt="image" />
          </div>
          <div class="our-features__grid-item our-features__grid-item--box-3">
            <img src="./images/decore-3.jpg" alt="image" />
          </div>
          <div class="our-features__grid-item our-features__grid-item--box-4">
            <img src="./images/decore-1.jpg" alt="image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
