<section class="container">
  <div class="questions page-paddings">
    <div class="questions__heading">
      <h2 class="title questions__title">Frequently Asked Questions</h2>
      <p class="subtitle questions__subtitle">
        We tried to answer most common questions, if you have any additional,
        please get in touch with our friendly team
      </p>
    </div>
    <div class="questions__questions-box">
      <div class="questions__item questions__item--open">
        <div class="questions__item-text">
          <h6 class="questions__item-title">
            01. What are properties in Figma?
          </h6>
          <p class="questions__item-desc">
            The main feature of Whitespace UI that it saves you time. If it
            saves you time, it automatically saves you money. You no longer have
            to create a new UI kit from scratch before starting each project.
            Use Whitespace UI on an unlimited number of projects and save
            hundreds of hours and thousands of dollars.
          </p>
        </div>
        <button class="questions__item-toggle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none">
            <path
              d="M7 12H12M12 12H17M12 12V7M12 12V17M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
              stroke="#637083"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </button>
      </div>
      <div class="questions__item questions__item--open">
        <div class="questions__item-text">
          <h6 class="questions__item-title">
            02. How Whitespace UI kit and Design System can help me?
          </h6>
          <p class="questions__item-desc">
            The main feature of Whitespace UI that it saves you time. If it
            saves you time, it automatically saves you money. You no longer have
            to create a new UI kit from scratch before starting each project.
            Use Whitespace UI on an unlimited number of projects and save
            hundreds of hours and thousands of dollars.
          </p>
        </div>
        <button class="questions__item-toggle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none">
            <path
              d="M7 12H12M12 12H17M12 12V7M12 12V17M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
              stroke="#637083"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </button>
      </div>
      <div class="questions__item questions__item--open">
        <div class="questions__item-text">
          <h6 class="questions__item-title">03. What is your return policy?</h6>
          <p class="questions__item-desc">
            The main feature of Whitespace UI that it saves you time. If it
            saves you time, it automatically saves you money. You no longer have
            to create a new UI kit from scratch before starting each project.
            Use Whitespace UI on an unlimited number of projects and save
            hundreds of hours and thousands of dollars.
          </p>
        </div>
        <button class="questions__item-toggle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none">
            <path
              d="M7 12H12M12 12H17M12 12V7M12 12V17M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
              stroke="#637083"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </button>
      </div>
      <div class="questions__item questions__item--open">
        <div class="questions__item-text">
          <h6 class="questions__item-title">
            04. How can I contact customer support?
          </h6>
          <p class="questions__item-desc">
            The main feature of Whitespace UI that it saves you time. If it
            saves you time, it automatically saves you money. You no longer have
            to create a new UI kit from scratch before starting each project.
            Use Whitespace UI on an unlimited number of projects and save
            hundreds of hours and thousands of dollars.
          </p>
        </div>
        <button class="questions__item-toggle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none">
            <path
              d="M7 12H12M12 12H17M12 12V7M12 12V17M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
              stroke="#637083"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </button>
      </div>
      <div class="questions__item questions__item--open">
        <div class="questions__item-text">
          <h6 class="questions__item-title">
            05. What payment methods do you accept?
          </h6>
          <p class="questions__item-desc">
            The main feature of Whitespace UI that it saves you time. If it
            saves you time, it automatically saves you money. You no longer have
            to create a new UI kit from scratch before starting each project.
            Use Whitespace UI on an unlimited number of projects and save
            hundreds of hours and thousands of dollars.
          </p>
        </div>
        <button class="questions__item-toggle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none">
            <path
              d="M7 12H12M12 12H17M12 12V7M12 12V17M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
              stroke="#637083"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </button>
      </div>
    </div>
    <div class="questions__form">
      <h5 class="questions__form-title">Still have a questions?</h5>
      <p class="questions__form-desc">
        We're sorry we couldn't provide you with the information you were
        looking for. Please contact us and we'll be happy to help.
      </p>
      <button
        class="questions__form-button button button--blue button--with-image">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="21"
          height="20"
          viewBox="0 0 21 20"
          fill="none">
          <path
            d="M3.83333 5.83334L8.99999 9.70833C9.88889 10.375 11.1111 10.375 12 9.70833L17.1667 5.8333M4.66667 15.8333H16.3333C17.2538 15.8333 18 15.0871 18 14.1667V5.83334C18 4.91286 17.2538 4.16667 16.3333 4.16667H4.66667C3.74619 4.16667 3 4.91286 3 5.83334V14.1667C3 15.0871 3.74619 15.8333 4.66667 15.8333Z"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round" />
        </svg>
        Contact us
      </button>
    </div>
  </div>
</section>
